<section class='title'>
  <h1>All Authors</h1>

  <% if current_user && current_admin? %>
    <p><%= link_to 'Create a New Author', new_author_path %></p>
  <% end %>

  <% @authors.each do |author| %>
    <p><%= link_to author.name, author_path(author) %></p>
  <% end %>
</section>
