<h1>All Authors</h1>

<p><%= link_to 'Create a New Author', new_author_path %></p>
<h3>See a list of books by:</h3>

<% @authors.each do |author| %>
  <p><%= link_to author.name, author_path(author) %></p>
<% end %>
