<section>
  <h1 class='title'>All Authors</h1>

  <div class='authors'>
    <% if current_user && current_admin? %>
      <p><%= link_to 'Create a New Author', new_author_path %></p>
    <% end %>

    <% @authors.each do |author| %>
      <h2><%= link_to author.name, author_path(author) %></h2>
    <% end %>
  </div>
</section>
