<section>
  <div class='welcome1'>
    <%= image_tag('people_reading.jpg', size: '375x250') %>
    <h3 class='title'>Welcome to BookClub</h3>
  </div><br><br><br>
  <div class='welcome2'>
    <%= image_tag('kid.jpg', size: '400x250') %>
    <h3 class='title'>Log In to leave reviews, or sign up to be a new member!</h3>
  </div>
</section>
