<section>
  <div class='welcome1'>
    <%= image_tag('people_reading.jpg', size: '250x175') %>
    <h3 class='title'>Welcome to BookClub!</h3><br><br>
  </div>
  <div class='welcome2'>
    <%= image_tag('kid.jpg', size: '275x175') %>
    <h3 class='title'>Log In to leave reviews, or sign up to be a new member!</h3>
  </div>
</section>
