<!-- <p><%= link_to 'Sign up to be a New User', new_user_path %></p>

<p><%= link_to "I already have an account", login_path %></p> -->
<h3>Welcome to BookClub! Try signing up to be a new user, or logging in!</h3>
