<section>
  <h1>All Books</h1>

  <% @books.each do |book| %>
    <%= image_tag(book.image, size: '100x150', alt: 'not_available.png') %>
    <% if book.avg_rating != nil %>
      <p>Average Rating: <%= book.avg_rating %></p>
    <% end %>
    <p><%= link_to book.title, author_book_path(book.author, book) %></p>
    <p><%= link_to book.author.name, author_path(book.author) %></p><br><br>
  <% end %>
</section>
