<section>
  <h1 class='title'>All Books</h1>

  <% @books.each do |book| %>
    <div class='book'>
      <%= link_to (image_tag(book.image, size: '125x175', alt: 'not_available.png')), author_book_path(book.author, book) %>
      <h2><%= link_to book.title, author_book_path(book.author, book) %></h2>
      <h3>by <%= link_to book.author.name_switch, author_path(book.author) %></h3>
      <% if book.avg_rating != nil %>
        <h3>Average Rating: <%= book.avg_rating %></h3>
      <% end %>
    </div>
  <% end %>
</section>
