<%= image_tag(@book.image, size: '100x150', alt: 'not_available.png') %>
<h2><%= @book.title %>, <%= @book.year %></h2>
<p><%= link_to "See all books by #{@book.author.name}", author_path(@book.author) %></p><br>
