body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr;
  font-family: 'Cagliostro'
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: #3C7F3E;
}

header {
  background-color: #3C7F3E;
  font-size: 24px;
  font-family: 'Berkshire Swash';
}

header img {
  float: left;
}

#header a{
  float: right;
  color: white;
  padding-right: 20px;
}

#header a:hover {
  color: #C5FFC7;
}

nav {
  background-color: #9ECC9F;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: auto;
}

nav h3 {
  text-align: center;
}

section {
  background-color: #C5FFC7;
  padding: 30px;
}

.welcome1 img {
  float: left;
}

.welcome1 h3 {
  float: center;
  padding-top: 30px;
}

.welcome2 h3 {
  /* float: left; */
}

.welcome2 img {
  float: right;
}

.title {
  text-align: center;
  font-size: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.book {
  height: 225px;
  margin-left: 25%;
}

.book img {
  float: left;
  padding-right: 20px;
}

.authors {
  text-align: center;
}

.reviews {
  margin-left: 25%;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: space-between;
}

.form input {
  height: 20px;
  width: 200px;
  margin: 10px;
  border-radius: 10px;
}

.form input[type=text] {
  font-size: 16px;
}

.form input[type=submit] {
  background-color: #3C7F3E;
  color: white;
  font-size: 14px;
}

.form input[type=submit]:hover {
  background-color: #9ECC9F;
}
